/* .app-header {
    background: #e91e63;
    color: white;
} */
.app-header {
    grid-area: 1 / 1 / 2 / 6;
    padding: 8px;
}

.app-header section.container {
    display: flex;
    align-items: center;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav {
    display: flex;
    flex-direction: row;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}

.app-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h i";
    gap: 5px;
}

.app-logo h1{
    font-size: 30px;
    grid-area: h;
}

.app-logo img{
    grid-area: i;
    width: 40px;
    height: 40px;
}
